@{
    ViewData["Title"] = "信息列表";
}

<style>
    select {
        max-width: 150px;
    }
</style>
<div class="row">
    <div class="col-md-12">

        @*<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">支出</li>
                <li><a href="/Income">收入</a></li>
            </ul>
        </div>*@

        <div style="padding:10px;">
            <div class="layui-form">
                <a class="layui-btn" href="/Add">
                    <i class="layui-icon">&#xe608;</i> 添加
                </a>
                <div class="layui-input-inline">
                    <input type="text" id="search_start" class="layui-input" placeholder="开始时间" onclick="layui.laydate({elem: this})" />
                </div>
                <div class="layui-input-inline">
                    ~
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="search_end" class="layui-input" placeholder="结束时间" onclick="layui.laydate({elem: this})" />
                </div>
                <div class="layui-input-inline">
                    <select id="search_ca">
                        <option value="0">--所有分类--</option>
                        @*@foreach (Niunan.NetCore.Charge.Model.Category item in ViewBag.calist)
                            {
                                <option value="@item.id">@item.caname</option>
                            }*@

                        <option value="1">测试1</option>
                        <option value="2">测试2</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select id="search_acc">
                        <option value="0">--所有账户--</option>

                    </select>
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-normal" type="button" onclick="search()"><i class="layui-icon">&#xe615;</i> 查询</button>
                </div>

            </div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>头像</th>
                        <th>昵称</th>
                        <th>分类</th>
                        <th>内容</th>
                        <th>联系号码</th>
                        <th>联系人</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="main_data">
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div style="float: left; line-height: 55px;margin: 0 15px; font-size: 16px;">
                    当前共<span id="totalcount"></span>条记录，每页10条，第<span id="pageindex"></span>页/共<span id="pagecount"></span>页
                </div>
                <div id="pages">

                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{

    <script>
    layui.use(['form',  'laydate'], function () {
        var form = layui.form()
            , laydate = layui.laydate;

        //监听上否显示账户余额
        form.on('switch(showacc)', function (data) {
            var b = data.elem.checked; //开关是否开启，true或者false
            if (b) {
                $("#div_acc").show();
            } else {
                $("#div_acc").hide();
            }
        });

    })




    var pagesize = 10; //页大小
    /*分页*/
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage, layer = layui.layer, $ = layui.jquery;
        var url = "/home/GetTotalCount?t=" + new Date().valueOf();
        $.post(url, function (count) {

            var pagecount = (count % pagesize == 0 ? count / pagesize : Math.ceil(count / pagesize)); //总页数
            //  console.log("总记录数：" + count + "，总页数：" + pagecount);
            $('#totalcount').text(count);
            $('#pagecount').text(pagecount);

            laypage({
                cont: 'pages',
                pages: pagecount, //得到总页数
                jump: function (obj) {
                    var pageindex = obj.curr;
                    //layer.alert("点击了第" + pageindex + "页。");
                    //读取后台数据数据返回JSON后拼接HTML
                    load_blog_data(pageindex);
                }
            });

        });

    });
    /*加载第X页数据*/
    function load_blog_data(pageindex) {

            $('#pageindex').text(pageindex);


            var postdata = getcond();

            var url = "/home/List?pageindex=" + pageindex + "&pagesize=" + pagesize;

            $.post(url, postdata, function (json) {

                var html = '';
                $.each(json, function (i, item) {
                    // console.log("第" + i + "个元素：");
                    //  console.log(blog);
                    html += '<tr>';
                    html += '    <td><img src="' + item.HeadImg + '"style="width: 30px;" /></td>';
                    html += '    <td>' + item.NickName + '</td>';
                    html += '    <td>' + item.CategoryName + '</td>';
                    html += '    <td>' + item.Content + '</td>';
                    html += '    <td>' + item.ContactNum + '</td>';
                    html += '    <td>' + item.ContactName + '</td>';

                    html += '    <td>';
                    html += '        <a href="/home/Add/' + item.Id + '"><i class="layui-icon">&#xe642;</i> 编辑</a>';
                    html += '        <a href="javascript:void(0);" onclick="del(' + item.Id + ')"><i class="layui-icon">&#x1006;</i> 删除</a>';
                    html += '    </td>';
                    html += '</tr>';

                })

               // $('tbody').html(html); //原来是这个，但是这个以后日期框会错乱
                $('#main_data').html(html);

            }, 'json');



    }


    /*拼接条件返回postdata*/
    function getcond() {

        var start = document.getElementById('search_start').value;
        var end = document.getElementById('search_end').value;
        var caid = document.getElementById('search_ca').value;
        var accid = document.getElementById('search_acc').value;
        var postdata = { start: start, end: end, caid: caid, accid: accid };
        return postdata;
    }


    /*查询*/
    function search() {

        layui.use(['laypage', 'layer', 'laydate'], function () {
            var laypage = layui.laypage, layer = layui.layer,laydate=layui.laydate, $ = layui.jquery;


            var postdata = getcond();

            var url = "/home/GetTotalCount?t=" + new Date().valueOf();
            console.log("查询：" + url + " " + JSON.stringify(postdata));
            $.post(url, postdata, function (count) {

                var pagecount = (count % pagesize == 0 ? count / pagesize : Math.ceil(count / pagesize)); //总页数
                console.log("总记录数：" + count + "，总页数：" + pagecount);
                $('#totalcount').text(count);
                $('#pagecount').text(pagecount);

                laypage({
                    cont: 'pages',
                    pages: pagecount, //得到总页数
                    jump: function (obj) {
                        var pageindex = obj.curr;
                        //layer.alert("点击了第" + pageindex + "页。");
                        //读取后台数据数据返回JSON后拼接HTML
                        load_blog_data(pageindex);
                    }
                });

            });

        });

    }


    </script>

}